regression-finder/.gradle
regression-finder/build/

/out/
.idea/
.DS_Store

.vscode/
regression-finder/test_results.csv
regression-finder/test-area/
regression-finder/commmit-list.csv
regression-finder/test-area/repository
